<html>
	<body bgcolor=black>
		<center><font color=yellow><h2>This is Web server for demonstration</h2><br>
                <center><font color=green>Server name {{ ansible_hostname }}<br>
                <center><font color=green>Server IP {{ ansible_default_ipv4.address }}
	</body>
</html>
